*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.cb{
  background: blue;
  width: 100%;
  height: 100px;
  padding: 20px 20px 0 20px;

}
.cb h1{
  color: aliceblue;
  font-size: 40px;
  display: inline-block;
}
.cb a{
  float: right;
  margin-top: 20px;
  font-size: 20px;
  color: white;
}

.contDiagnostico ul{
  display: flex;
  padding-left: 5%;
}
.contDiagnostico li{
  list-style: none;
  margin: 10px;
  font-size: 20px;
  padding: 5px 3%;
}
.contDiagnostico a{
  color: black;
}

.contData{
  background: #B9E4FA;
  width: 90%;
  height: 1300px;
  margin-left: 5%;
  margin-top: 100px;
  border-radius: 15px;
  padding: 60px 10% 0 10%;
}
.contData h2{
  text-align: center;
  padding-bottom: 30px;
}
.contData hr{
  width: 100%;
  background: rgb(255, 255, 255);
  height: 5px;
  border-color: rgb(255, 255, 255);
  border-radius: 50px;
  margin-bottom: 30px;
  border: 0;
}

.culaPaciente{
  height: 40px;
  width: 220px;
  border-radius: 15px;
  padding-left: 20px;
  margin-right: 70%;
  border: none;
}

.bsp{
  width: 150px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 15px;
}
.formu{
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 40px;
}
.formu input{
  width: 100%;
  height: 60px;
  padding: 20px;
}
.formu label{
  font-size: 30px;
  padding: 20px;
}
.agregar{
  width: 150px;
  height: 40px;
  background-color: #fff;
  float: right;
}
.limpiar{
  width: 150px;
  height: 40px;
  background-color: #fff;
  float: right;
  margin-right: 20px;
}
.borrar{
  width: 100%;
  height: 40px;
  background-color: #fff;
  float: right;
}

.tabla{
  width: 1050px;
  background-color: rgb(84, 250, 209);
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  margin: 5% 10% 0% 10%;
}

.tabla th{
  border: 0.5px solid black;
  padding: 0px 50px 0px 50px;
  background-color: #fff;
}

td{
  width: 100%;
  height: 50px;
  border: 1px solid black;
  background-color: #fff;
  padding: 1%;
}
.frm{
  width: 100%;
  height: 100%;
}