
/**************************************/

.contData{
    background: #B9E4FA;
    width: 80%;
    height: 700px;
    margin-left: 10%;
    margin-top: 100px;
    border-radius: 15px;
    padding: 60px 5% 0 5%;
  }
  .contData h2{
    text-align: center;
    padding-bottom: 30px;
  }
  .contData hr{
    width: 100%;
    background: rgb(255, 255, 255);
    height: 5px;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin-bottom: 30px;
    border: 0;
  }
/***************************************************************************/

.contFormu{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 8%;
}

.contFormu input{
    width: 45%;
    height: 60px;
    margin: 5px 2% 5px 0;
    border-radius: 15px;
    border: 0;
    padding-left: 10px;
}
#btnPaciente{
  width: 220px;
  height: 30px;
  border-radius: 50px;
  border: 0;
  background: rgb(255, 255, 255);
}
#formularioPacientes button:hover{
  background: blue;
  color: white;
}