*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  .cb{
    background: blue;
    width: 100%;
    height: 100px;
    padding: 20px 20px 0 20px;
  
  }
  .cb h1{
    color: aliceblue;
    font-size: 40px;
    display: inline-block;
  }
  .cb a{
    float: right;
    margin-top: 20px;
    font-size: 20px;
    color: white;
  }
  
  .contDiagnostico ul{
    display: flex;
    padding-left: 5%;
  }
  .contDiagnostico li{
    list-style: none;
    margin: 10px;
    font-size: 20px;
    padding: 5px 3%;
  }
  .contDiagnostico a{
    color: black;
  }
/**************************************/

.contData{
    background: #B9E4FA;
    width: 90%;
    height: 1300px;
    margin-left: 5%;
    margin-top: 100px;
    border-radius: 15px;
    padding: 60px 10% 0 10%;
  }
  .contData h2{
    text-align: center;
    padding-bottom: 30px;
  }
  .contData hr{
    width: 100%;
    background: rgb(255, 255, 255);
    height: 5px;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin-bottom: 30px;
    border: 0;
  }
/***************************************************************************/

.contFormu{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 8%;
}

.contFormu input{
    width: 40%;
    height: 60px;
    margin: 5px 2% 5px 0;
    border-radius: 15px;
    border: 0;
    padding-left: 10px;
}